$button-bg-diseble: #eeeeee;
$button-bg: #7bae73;

$main-bg-colot: #e5e5e5;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: $main-bg-colot;
  margin: 32px 32px 0;
}

