$button-bg-diseble: #eeeeee;
$button-bg: #7bae73;
$body-bg-colot: rgba(255, 254, 251, 0.8);
$main-bg-colot: #FFFEFB;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: $body-bg-colot;
  margin: 32px 32px 0;
}

